<% content_for :title, "Editing image form" %>

<h1>Editing image form</h1>

<%= render "form", image_form: @image_form %>

<br>

<div>
  <%= link_to "Show this image form", @image_form %> |
  <%= link_to "Back to image forms", image_forms_path %>
</div>
